In [1]:
import random
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.font_manager import FontProperties
import pandas as pd

In [2]:
scores = np.random.randint(low = 40, high=100, size = (50, 5))

In [37]:
df0 = pd.DataFrame(data=scores
        , index=range(1, 51)
        , columns=['國文', '英文', '數學', '歷史', '地理'])
#df0

In [8]:
print("sum:", df0.sum())
print("mean:", df0.mean())
print("max:", df0.max(), ", min:",df0.min())
print("median:", df0.median())

sum: 國文    3465
英文    3248
數學    3613
歷史    3459
地理    3261
dtype: int64
mean: 國文    69.30
英文    64.96
數學    72.26
歷史    69.18
地理    65.22
dtype: float64
max: 國文    99
英文    99
數學    95
歷史    97
地理    99
dtype: int64 , min: 國文    41
英文    41
數學    40
歷史    40
地理    40
dtype: int64
median: 國文    69.5
英文    59.0
數學    74.5
歷史    70.0
地理    62.0
dtype: float64

In [9]:
# Subscript ==> [''], 欄
# Subscript ==> [1:5], 列
df0['國文']

1     50
2     90
3     96
4     67
5     84
6     88
7     85
8     47
9     58
10    70
11    51
12    80
13    78
14    56
15    53
16    99
17    61
18    49
19    85
20    91
21    71
22    94
23    75
24    93
25    52
26    91
27    95
28    96
29    45
30    79
31    44
32    57
33    52
34    92
35    47
36    68
37    47
38    80
39    88
40    41
41    63
42    69
43    80
44    73
45    49
46    68
47    45
48    43
49    82
50    48
Name: 國文, dtype: int64

In [11]:
df0[['國文', '英文']]

    國文  英文
1   50  48
2   90  48
3   96  81
4   67  90
5   84  72
6   88  71
7   85  56
8   47  75
9   58  78
10  70  78
11  51  80
12  80  59
13  78  62
14  56  42
15  53  41
16  99  46
17  61  42
18  49  45
19  85  56
20  91  89
21  71  99
22  94  75
23  75  52
24  93  93
25  52  61
26  91  41
27  95  43
28  96  46
29  45  96
30  79  97
31  44  55
32  57  73
33  52  59
34  92  54
35  47  53
36  68  55
37  47  96
38  80  49
39  88  77
40  41  49
41  63  96
42  69  78
43  80  54
44  73  82
45  49  50
46  68  58
47  45  88
48  43  60
49  82  42
50  48  58

In [16]:
df0[1:6]

   國文  英文  數學  歷史  地理
2  90  48  93  60  82
3  96  81  72  66  57
4  67  90  95  76  70
5  84  72  86  63  53
6  88  71  79  53  63

In [18]:
df0[['國文', '英文']][0:3]

   國文  英文
1  50  48
2  90  48
3  96  81

In [19]:
type(df0[['國文', '英文']][0:3])

pandas.core.frame.DataFrame

In [20]:
df0.loc, df0.iloc

(<pandas.core.indexing._LocIndexer at 0x7f86d72dc400>,
 <pandas.core.indexing._iLocIndexer at 0x7f86d72dc9f0>)

In [21]:
df0.loc[49], df0.iloc[48]

(國文    82
 英文    42
 數學    42
 歷史    89
 地理    62
 Name: 49, dtype: int64,
 國文    82
 英文    42
 數學    42
 歷史    89
 地理    62
 Name: 49, dtype: int64)

In [25]:
df0.loc[1:5], df0.iloc[0:5]

(   國文  英文  數學  歷史  地理
 1  50  48  40  71  64
 2  90  48  93  60  82
 3  96  81  72  66  57
 4  67  90  95  76  70
 5  84  72  86  63  53,
    國文  英文  數學  歷史  地理
 1  50  48  40  71  64
 2  90  48  93  60  82
 3  96  81  72  66  57
 4  67  90  95  76  70
 5  84  72  86  63  53)

In [27]:
for i in range(1, 51):
    print(i, ":", df0.loc[i].sum())

1 : 273
2 : 373
3 : 372
4 : 398
5 : 358
6 : 354
7 : 357
8 : 326
9 : 382
10 : 324
11 : 306
12 : 374
13 : 309
14 : 331
15 : 277
16 : 348
17 : 357
18 : 277
19 : 420
20 : 339
21 : 384
22 : 418
23 : 313
24 : 396
25 : 310
26 : 328
27 : 292
28 : 306
29 : 358
30 : 378
31 : 311
32 : 348
33 : 349
34 : 399
35 : 309
36 : 344
37 : 342
38 : 314
39 : 302
40 : 274
41 : 374
42 : 407
43 : 337
44 : 419
45 : 259
46 : 274
47 : 315
48 : 359
49 : 317
50 : 355

In [38]:
print(df0.sum(axis=0))
print(df0.sum(axis=1))

國文    3465
英文    3248
數學    3613
歷史    3459
地理    3261
dtype: int64
1     273
2     373
3     372
4     398
5     358
6     354
7     357
8     326
9     382
10    324
11    306
12    374
13    309
14    331
15    277
16    348
17    357
18    277
19    420
20    339
21    384
22    418
23    313
24    396
25    310
26    328
27    292
28    306
29    358
30    378
31    311
32    348
33    349
34    399
35    309
36    344
37    342
38    314
39    302
40    274
41    374
42    407
43    337
44    419
45    259
46    274
47    315
48    359
49    317
50    355
dtype: int64

In [47]:
df0['總分'] = df0[['國文', '英文', '數學', '歷史', '地理']].sum(axis=1)
df0['平均'] = df0[['國文', '英文', '數學', '歷史', '地理']].mean(axis=1)
df0

    國文  英文  數學  歷史  地理   總分    平均
1   50  48  40  71  64  273  54.6
2   90  48  93  60  82  373  74.6
3   96  81  72  66  57  372  74.4
4   67  90  95  76  70  398  79.6
5   84  72  86  63  53  358  71.6
6   88  71  79  53  63  354  70.8
7   85  56  59  97  60  357  71.4
8   47  75  65  94  45  326  65.2
9   58  78  62  88  96  382  76.4
10  70  78  89  40  47  324  64.8
11  51  80  68  45  62  306  61.2
12  80  59  92  70  73  374  74.8
13  78  62  53  64  52  309  61.8
14  56  42  81  87  65  331  66.2
15  53  41  88  54  41  277  55.4
16  99  46  41  71  91  348  69.6
17  61  42  95  88  71  357  71.4
18  49  45  61  78  44  277  55.4
19  85  56  91  89  99  420  84.0
20  91  89  69  47  43  339  67.8
21  71  99  64  84  66  384  76.8
22  94  75  77  85  87  418  83.6
23  75  52  80  44  62  313  62.6
24  93  93  67  48  95  396  79.2
25  52  61  92  53  52  310  62.0
26  91  41  65  70  61  328  65.6
27  95  43  56  43  55  292  58.4
28  96  46  65  59  40  306  61.2
29  45  96  77  97  43  358  71.6
30  79  97  42  90  70  378  75.6
31  44  55  73  66  73  311  62.2
32  57  73  88  76  54  348  69.6
33  52  59  93  55  90  349  69.8
34  92  54  87  74  92  399  79.8
35  47  53  42  89  78  309  61.8
36  68  55  77  61  83  344  68.8
37  47  96  80  67  52  342  68.4
38  80  49  60  72  53  314  62.8
39  88  77  47  43  47  302  60.4
40  41  49  76  58  50  274  54.8
41  63  96  95  67  53  374  74.8
42  69  78  89  75  96  407  81.4
43  80  54  58  91  54  337  67.4
44  73  82  89  84  91  419  83.8
45  49  50  41  63  56  259  51.8
46  68  58  66  42  40  274  54.8
47  45  88  94  40  48  315  63.0
48  43  60  80  81  95  359  71.8
49  82  42  42  89  62  317  63.4
50  48  58  72  92  85  355  71.0

In [48]:
df0.loc[:3,:]

   國文  英文  數學  歷史  地理   總分    平均
1  50  48  40  71  64  273  54.6
2  90  48  93  60  82  373  74.6
3  96  81  72  66  57  372  74.4

In [49]:
df0.to_csv('csv_data/Students_01.csv')

In [52]:
csvFile = pd.read_csv(filepath_or_buffer='csv_data/最新的氣象預測.csv')
csvFile

,城市,啟始時間,結束時間,最高溫度,最底溫度,感覺
0,臺北市,2023-09-03T12:00:00+08:00,2023-09-03T18:00:00+08:00,30,29,悶熱
1,新北市,2023-09-03T12:00:00+08:00,2023-09-03T18:00:00+08:00,30,29,悶熱
2,桃園市,2023-09-03T12:00:00+08:00,2023-09-03T18:00:00+08:00,31,29,悶熱
3,臺中市,2023-09-03T12:00:00+08:00,2023-09-03T18:00:00+08:00,31,29,悶熱
4,臺南市,2023-09-03T12:00:00+08:00,2023-09-03T18:00:00+08:00,30,29,悶熱
5,高雄市,2023-09-03T12:00:00+08:00,2023-09-03T18:00:00+08:00,30,29,悶熱
6,基隆市,2023-09-03T12:00:00+08:00,2023-09-03T18:00:00+08:00,29,28,悶熱
7,新竹縣,2023-09-03T12:00:00+08:00,2023-09-03T18:00:00+08:00,32,30,悶熱
8,新竹市,2023-09-03T12:00:00+08:00,2023-09-03T18:00:00+08:00,32,30,悶熱
9,苗栗縣,2023-09-03T12:00:00+08:00,2023-09-03T18:00:00+08:00,32,30,悶熱
10,彰化縣,2023-09-03T12:00:00+08:00,2023-09-03T18:00:00+08:00,31,29,悶熱
11,南投縣,2023-09-03T12:00:00+08:00,2023-09-03T18:00:00+08:00,30,28,舒適至悶熱
12,雲林縣,2023-09-03T12:00:00+08:00,2023-09-03T18:00:00+08:00,30,28,悶熱
13,嘉義縣,2023-09-03T12:00:00+08:00,2023-09-03T18:00:00+08:00,30,29,悶熱
14,嘉義市,2023-09-03T12:00:00+08:00,2023-09-03T18:00:00+08:00,30,27,舒適至悶熱
15,屏東縣,2023-09-03T12:00:00+08:00,2023-09-03T18:00:00+08:00,28,27,舒適至悶熱
16,宜蘭縣,2023-09-03T12:00:00+08:00,2023-09-03T18:00:00+08:00,29,28,悶熱
17,花蓮縣,2023-09-03T12:00:00+08:00,2023-09-03T18:00:00+08:00,29,28,悶熱
18,臺東縣,2023-09-03T12:00:00+08:00,2023-09-03T18:00:00+08:00,29,28,舒適至悶熱
19,澎湖縣,2023-09-03T12:00:00+08:00,2023-09-03T18:00:00+08:00,31,28,悶熱
20,金門縣,2023-09-03T12:00:00+08:00,2023-09-03T18:00:00+08:00,33,29,悶熱
21,連江縣,2023-09-03T12:00:00+08:00,2023-09-03T18:00:00+08:00,29,27,悶熱