In [1]:
import random
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.font_manager import FontProperties
import pandas as pd

In [2]:
s01 = pd.Series(data = np.random.randint(low = 50, high = 100, size=5), index=['國文', '英文', '數學', '自然', '社會'])
s02 = pd.Series(data = [random.randint(50, 100) for _ in range(5)], index=['國文', '英文', '數學', '自然', '社會'])
s03 = pd.Series(data = [63, 69, 65, 75, 73], index=['國文', '英文', '數學', '自然', '社會'])
s04 = pd.Series(data = [55, 92, 72, 71, 72], index=['國文', '英文', '數學', '自然', '社會'])
s05 = pd.Series(data = [88, 91, 85, 83, 82], index=['國文', '英文', '數學', '自然', '社會'])
df = pd.DataFrame(index=['stuA', 'stuB', 'stuC', 'stuD', 'stuE']
                  , data=[s01, s02, s03, s04, s05]
                  , columns=['國文', '英文', '數學', '自然', '社會'])
df

      國文  英文  數學  自然  社會
stuA  56  72  81  83  70
stuB  74  74  56  69  71
stuC  63  69  65  75  73
stuD  55  92  72  71  72
stuE  88  91  85  83  82

In [12]:
df2 = pd.DataFrame(data={"stu01":np.random.randint(low = 50, high = 100, size=5)
              , "stu02":np.random.randint(low = 50, high = 100, size=5)
              , "stu03":np.random.randint(low = 50, high = 100, size=5)}
              , index=['國文', '英文', '數學', '歷史', '地理']
              , columns=["stu01", "stu02", "stu03"])
df2

    stu01  stu02  stu03
國文     59     71     81
英文     59     70     73
數學     82     85     58
歷史     69     84     98
地理     83     57     72

In [10]:
df3 = pd.DataFrame(data=[np.random.randint(low = 50, high = 100, size=5)
              , np.random.randint(low = 50, high = 100, size=5)
              , np.random.randint(low = 50, high = 100, size=5)]
              , index=['國文', '英文', '數學', '歷史', '地理']
              , columns=["stu01", "stu02", "stu03"])
df3

ValueError: 3 columns passed, passed data had 5 columns

In [8]:
print(df["國文"])
print(df2["stu01"])

stuA    56
stuB    74
stuC    63
stuD    55
stuE    88
Name: 國文, dtype: int64
國文    61
英文    85
數學    67
歷史    76
地理    73
Name: stu01, dtype: int64

In [15]:
df4 = pd.DataFrame(data=[[68, 58, 36]
                         ,[58, 39, 55]
                         , [95, 65, 63]
                         , [95, 63, 25]
                         , [88, 63, 25]]
                         , index=['國文', '英文', '數學', '歷史', '地理']
                         , columns=["stu01", "stu02", "stu03"])
df4

    stu01  stu02  stu03
國文     68     58     36
英文     58     39     55
數學     95     65     63
歷史     95     63     25
地理     88     63     25

In [17]:
df5 = pd.DataFrame(data=[{'stu01': 69, 'stu02': 98, 'stu02': 77}
                         , {'stu01': 84, 'stu02': 68, 'stu02': 74}
                         , {'stu01': 79, 'stu02': 92, 'stu02': 81}
                         , {'stu01': 79, 'stu02': 92, 'stu02': 81}
                         , {'stu01': 79, 'stu02': 92, 'stu02': 81}]
                         , index=['國文', '英文', '數學', '歷史', '地理'])
df5

    stu01  stu02
國文     69     77
英文     84     74
數學     79     81
歷史     79     81
地理     79     81